#menuview, #hierarchy, .document-header, #xdocFooter, #footerglobal, #editMeta, #editMeta + div, .navbar, { display: none; }

.imagearea {
    width: 100%;
    height: 15em;
    position: relative;
    border: 1px dotted #777;

    img {
        max-width: 100%;
        max-height: 200px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%)
    }
}

#tvpris-edit-map {
    width: 100%;
    height: 400px;
}

#tvpris-header-area {
    color: #fff;
}

#body {
  #mainContentArea, #xdocFooter, #docextrapanes {
     padding: 0;
  }
  .xcontent hr {
      display:none;
  }

  .bottombuttons {
      margin-right: auto;
      margin-left: auto;
      padding-left: 15px;
      padding-right: 15px;
  }
  @media screen and (min-width: 1200px) {
      .bottombuttons {
	  width: 1170px;
      }
  }
  @media screen and (min-width: 992px) {
      .bottombuttons {
	  width: 970px;
      }
  }
  @media screen and (min-width: 768px) {
      .bottombuttons {
	  width: 750px;
      }
  }
}
