#tvpris-surgery-logo-upload .droparea, #tvpris-surgery-image-upload .droparea {
    border-style: dashed;
    border-width: 2px;
    border-color: @breadcrumb-bg;
}

@background: rgba(246, 246, 246, 0.3);
@background-active: rgba(167, 215, 249, 0.3);
@border: rgb(167, 215, 249);
@border-active: #fff;

.droparea, .imagearea {
    width: 100%;
    height: 200px;
}

.imagearea {
    z-index: 10;
}

.imagearea img {
   max-height: 180px;
   max-width: 100%;
}

.droparea {
    z-index: 20;
    background-color: @background;
    border-color: @border;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 1em;
    position: absolute;
}

.droparea p {
    margin: 1.6em;
    width: 100%;
    text-align: center;
    font-size: 1.6em;
}

.droparea.droparea-active {
    background-color: @background-active;
    border-color: @border-active;
}

