@import "base.less";
@import "fonts.less";
@import "colors.less";
@import "expandable.less";
@import "forms.less";
@import "footer.less";
@import "nogutters.less";
@import "surgery-view.less";
@import "image.less";
@import "widgets.less";
@import "buttons.less";

#menuview, #hierarchy, .document-header, #xdocFooter, #footerglobal, #editMeta, #editMeta + div, .navbar, { display: none; }

#body {
    .body-text();

    #mainContentArea, #xdocFooter, #docextrapanes {
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
    }
    #mainContentArea {
	box-shadow: none;
    }
    #headerglobal {
	display:none;
    }
    
    .xcontent hr {
	display:none;
    }
    .xcontent {
	margin-top:0;
    }
    .main {
	margin: 0;
	float:none;
    }

    .surgery-action-buttons {
	margin-bottom: 10px;
    }
    
    .bottombuttons {
	display: none;
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
	position: sticky;
	bottom: 10px;
	z-index: 100;
	float: right;
	input.btn[name="action_preview"] {
	    display:none;
	}
    }
    @media screen and (min-width: 1200px) {
	.bottombuttons {
	    width: 1170px;
	}
    }
    @media screen and (min-width: 992px) {
	.bottombuttons {
	    width: 970px;
	}
    }
    @media screen and (min-width: 768px) {
	.bottombuttons {
	    width: 750px;
	}
    }
}

#body h1 {
    .h1-text();
    color: @text-color;
}

#tvpris-header-area {
    h1 {
	margin: 0;
    }
    .logout-link {
	font-size: @header-logout-link-size;

	a {
	    float: right;
	    margin-top: 20px;
	    color: @white;
	}
    }
}

#comment-select .select-widget-wrapper {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.edit-comment-link, .edit-comment-link:hover, .edit-comment-link:visited {
    color: @primary-color;
}

.heading-row {
    font-size: 14px;
    font-weight: bold;
}

#tvpris-surgery-comment-prices {
    .expandable-toggle {
	font-size: 16px;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
    }

    .reference-price {
	font-style: italic;
    }
}

.tvpris-edit-link {
    margin-top: 10px;
    margin-bottom: 10px;
    float: right;
    margin-right: 15px;
}

#tvpris-surgery-image-upload {
    text-align: center;
    .image-upload-control {
	text-align: right;
    }
}

#body {
    h4 {
	font-size: @form-label-size;
	font-weight: bold;
	color: @text-color;
    }
}

#price-comment-expandables {
    background-color: #F8F8F8;
}

.ajax-edit-buttons {
    float: right;
}

.ajax-edit-text {
    font-style: italic;
}


#tpk-measures-select {
    .tabbar .tabbar-tab {
	border: 1px solid @background-color;
	border-bottom-color: @dark-gray;
	font-size: 13px;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 5px;
	text-align: center;
	&.selected {
	    border-bottom-color: @background-color;
	    border-left-color: @dark-gray;
	    border-right-color: @dark-gray;
	    border-top-color: @dark-gray;
	}
    }
}

.navigation-tab-wrapper {
    &.opened .navigation-tab {
	background-color: @primary-color;
	h3 {
	    color: @inverted-color;
	}
    }
}

.surgery-tabs {
    .navigation-tab {
	cursor: pointer;
	border-top: 1px solid @gray-light;
	border-left: 1px solid @gray-light;
	border-right: 1px solid @gray-light;
	border-top-left-radius: @border-radius-large;
	border-top-right-radius: @border-radius-large;
	padding: 10px;
	text-align: center;
	h3 {
	    color: @gray;
	    margin-top: 2px;
	    margin-bottom: 0;
	}
	background-color: @gray-extra-light;
    }
}

.navigation-body {
    margin-bottom: 50px;
    padding-top: 30px;
}

.surgery-tabs {
    margin-top: 20px;
}

.tpk-price-comment-text {
    overflow: hidden;
    background-color: @background-color;
    border: 1px solid @primary-color;
    padding: 5px;
    min-height: 5em;
    border-radius: @border-radius-base;
    cursor: pointer;
}

.tpk-price-comment {
    margin-bottom: 10px;
}

.price-comment-row {
    margin-bottom: 8px;
    margin-top: 8px;
    position: relative;
}


#tvpris-edit-map {
    height: 320px;
}

#tvpris-edit-map, #tvpris-edit-map-extra {
    width: 100%;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
}

#publish-message-container {
    margin-top: 20px;
}

#surgery-file-input {
    display: none;
}

.tpk-surgery-slim-container {
    max-width: 460px;
    margin-left: auto;
    margin-right: auto;
}

.tpk-coordinates {
    display: none;
}

.surgery-preview-link-row {
    margin-top: 4px;
    margin-bottom: 24px;
    a {
	font-weight: bold;
    }
}
.surgery-preview-button-row {
    margin-top: 37px;
}

#warranty-description {
    color: @inactive-color;
}

#body dl {
    dt {
	margin-bottom: 0;
    }
}

#body .surgery-edit-label {
    font-weight: bold;
    a {
	color: @black;
	.fa {
	    color: @primary-color;
	    padding: 10px;
	}
    }
}
