@import "bp.less";
@import "base.less";
@import "fonts.less";
@import "colors.less";
@import "expandable.less";
@import "header.less";
@import "nogutters.less";
@import "buttons.less";
@import "select.less";
@import "forms.less";
@import "results.less";
@import "location.less";
@import "tabbar.less";
@import "surgery-view.less";
@import "related-info.less";
@import "structured-combobox.less";
@import "modal.less";
@import "infobox.less";
@import "query-presenter.less";
@import "autocomplete.less";

#skip-to-main {
    display: block;
    text-align: center;
    height: 0;
    margin: 0;
    overflow: hidden;
    &:focus {
	height: 20px;
	margin-top: 5px;
    }
}

#body {
    color: @text-color;
    .body-text();
    h2 {
	.h2-text();
	color: @text-color;
    }
    h1 {
	.h1-text();
	color: @text-color;
    }
    .tpk-field-label {
	.field-label-text();
    }

    *:focus, .focus-within:focus-within,  {
	.focused-within();
    }

    .focus-within *:focus,
    .clicked-focus.focus-within:focus-within,
    .clicked-focus:focus,
    .focus-within .really-focus.clicked-focus:focus {
	outline: none;
    }

    .focus-within .really-focus:focus {
	outline: solid 2px @focus-color;
    }

}

#body {
    background-color: @background-color;
}

#to-selection-button-wrapper, #to-geography-button-wrapper {
    display:inline-block;
    vertical-align: middle;
}

#to-selection-button-wrapper {
    margin-left: 2em;
}

#to-geography-button-wrapper {
    margin-right: 2em;
}

.position-fieldset-left {
    display:inline-block;
    vertical-align: top;
    min-height:220px;
}

.selection-fieldset-right {
   display:inline-block;
   vertical-align: top;
   min-height:220px;
}

.surgery-options-left, .surgery-options-middle {
    display:inline-block;
    vertical-align: top;
    margin-right: 2em;
}
.surgery-options-right {
    display:inline-block;
    vertical-align: top;
}

.compare-button-inner-container {
    margin-top: 20px;
    margin-bottom: 50px;
}

#position-input-row {
    margin-bottom: 1em;
}

#position-input {
    width: 100%;
}

#package-input-select {
    width: 100%;
}

#measures-input {
    width: 100%;
}

.document-header {
    display: none;
}

#tvpris-application-area {
   label {
       display: inline
   }
}

.tvpris-icon {
    width: 2em;
    height: 2em;
    text-align: center;
    & > img {
	max-width: 100%;
	max-height: 100%;
    }
}

.tvpris-image {
    img {
        max-width: 100%;
        max-height: 180px;
    }
}

.tvpris-checkboxes {
    td {
	padding-right: 0.5em;
	padding-left: 0.5em;
	cursor: pointer;
    }
    label {
	font-weight: normal;
    }
}

#body .tvpris-checkbox, #body .tvpris-radio {

    tr, tr label {
        cursor: pointer;
    }

    .box-column {
        width: 2em;
    }

    margin-left: 0.5em;
}

main a {
    text-decoration: underline;
    color: @primary-color;
}


.small-link-row {
    font-size: 10pt;
    margin: 0 0 1.5em 0;
}

#fetch-position-link {
    text-decoration: underline;
}

#tpk-measure-select-link, #tpk-package-select-link {
    .measure-select-link-text();
    .measure-select-link-space();
}

.field-extra-text {
    .form-input-info-extra-text-regular();
    p {
	margin-bottom: 0;
    }
}

#tpk-example-measures a, #tpk-example-packages a, #tpk-new-search-link {
    text-decoration: none;
    &:hover {
	text-decoration: underline;
    }
    font-weight: bold;
}

.tvpris-script, .script {
    display: none;
}

.errormessage {
    font-size: 12pt;
    color: @error-color;
}

#surgery-category-input .item-selector {
    background-color: @background-color;
    border-color: @background-color;
}

#mainContentArea {
    & > p {
	display: none;
    }
}

.wide-image-row {
    display: none;
}

.small-image-row img {
    width: 100%;
}

.tpk-landing-page-image {
    overflow: hidden;
    text-align: center;
    .wide-image {
	height: 254px;
    }
}

.horizontal-space {
    height: 0;
}

#tpk-measure-package-select {
    &.measures > * {
	display: none;
    }
    #tpk-package-select-link {
	display: none;
    }
    &.measures > #tpk-package-select-link {
	display: block;
    }
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}

#tpk-measure-package-select {
    cursor: pointer;
}

#price-query-heading {
    display:none;
}

@media (min-width: 576px) {
    .small-image-row {
	display: none;
    }
    .wide-image-row {
	display: block;
    }
    .tpk-landing-page-image {
	.small-image img {
	    height: 220px;
	}
	.wide-image img {
	    max-height: 220px;
	}
    }
    .tpk-container {
	margin-left: 10px;
	margin-right: 10px;
    }
}

@media @min-mq-sm {
    .tpk-landing-page-image {
	.small-image img {
	    height: 280px;
	}
	.wide-image img {
	    max-height: 280px;
	}
    }
    .horizontal-space {
	height: 5px;
    }
    .tpk-container {
	margin-left: 20px;
	margin-right: 20px;
    }
}

.tpk-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 570px;
}

#tpk-application-container {
    min-height: 100vh;
    display: flex;
    &.noflex {
	display: block;
    }
    flex-direction: column;
    & > .tpk-container {
	flex-grow: 1;
    }
}

@media @min-mq-sm {
    .tpk-container {
	max-width: 862px;
    }
    .horizontal-space {
	height: 15px;
    }
    .col-sm-floatright-6 {
	float: right;
    }
}

@media @min-mq-md {
    #price-query-heading {
	display:block;
    }
    .tpk-landing-page-image {
        .small-image img {
	    height: 350px;
	}
	.wide-image img {
	    max-height: 350px;
	}
    }
    .horizontal-space {
	height: 75px;
    }
}

.col-xs-fullwidth {
    .xs-fullwidth();
}

.col-xs-fullwidth-padded {
    .xs-fullwidth-padded();
}

.col-xs-fullwidth-absolute {
    .xs-fullwidth-absolute();
}

.col-xs-fullwidth-absolute-padded {
    .xs-fullwidth-absolute-padded();
}

#item-selection-section {
    margin-top: 21px;
}

.tpk-infoboxlink a {
    padding: 15px;
}
