
.reference-price-box ul.price-comparison-item-list {
    padding-left: 10px;
}

.related-info-item-type-text,  .related-info-item-extra {
    font-style: italic;
}

.related-info-item-type-text {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.related-info-area-name {
    font-style: italic;
}

.tpk-related-info-dialog {
    .related-info-title {
	font-size: larger;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
    }
}
