@import "base.less";
@import "bp.less";
@import "fonts.less";
@import "colors.less";
@import "expandable.less";
@import "forms.less";
@import "widgets.less";

@result-border: 1px solid #eee;

.price-comparison-item {

    border-top: @result-border;

    &:first-child {
	border-top: none;
    }

    cursor: pointer;

    color: @text-color;

    .small-item-text();

    &.header {
	border-top: none;
	padding-bottom: 17px;
	padding-top: 14px;
	background-color: @ice-blue1;
	a {
	    text-decoration: none;
	    .fa {
		color: @primary-color;
		padding-left: 10px;
	    }
	}
    }

    .rank-and-name .name {
	text-decoration: none;
	font-weight: bold;
	color: @primary-color;
	&:hover {
	    text-decoration: underline;
	}
    }

    .addressline {
	display: block;
    }

    .address {
	.smallest-text();
	padding-bottom: 8px;
    }
    .price-comp {

        .price {
            font-weight: bold;
        }

        .median-price-info-icon, .reference-price-info-icon {
            cursor:pointer;
        }

	.error-text {
	    font-weight: normal;
	    .smallest-text();
	}

    }

    .fa-comment {
	color: @gray-light;
	.smallest-text();
    }

    .price-comparison-text {
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: normal;
	.small-item-text();
    }

    .active-areas-text {
	font-weight: normal;
	.smallest-text();
    }

    .comparison-error {
	text-align: left;
	font-style: italic;
    }

    .price, .has-comment-flag {
	text-align: right;
    }
}

.price-comparison-item-wrapper {
    clear: both;
    margin-top: 0;
    padding-top: 9px;
    border-top: 1px solid @gray-subtle;
    &.opened {
	background-color: @gray-subtle;
    }
    &:first-child {
	margin-top: 0;
	border-top: none;
    }
}

#tvpris-search-result-table {
    width: 100%;

    .fa-question-circle {
	color: @primary-color;
    }
}

.surgery-presentation {
    margin: 15px;
}

.price-comparison-table-head {
    padding-top: 5px;
    font-weight: bold;
    white-space: nowrap;
}

#price-comparison-table-head {
    background-color: @ice-blue1;
}

.tpk-infoboxlink {
    display: inline-block;
}

.reference-price-info-icon .fa {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.reference-price-wrapper {
    background-color: @darkish-purple;
    color: @white;
    padding-top: 23px;
    padding-bottom: 17px;
    border-bottom-left-radius: @border-radius-large;
    border-bottom-right-radius: @border-radius-large;
    a {
	text-decoration: none;
	color: @white;
	font-weight: bold;
    }
    .reference-price {
	text-decoration: none;
	color: @white;
	font-weight: bold;
	text-align: right;
    }
}

#reference-price-info-panel {
    position: relative;
    top: -24px;
    background-color: @darkish-purple;
    color: @white;
    border-bottom-left-radius: @border-radius-large;
    border-bottom-right-radius: @border-radius-large;
    z-index: 0;
}

.surgery-item-information-fold {
    cursor:pointer;
    &.state-closed {
        .opened {
            display: none;
        }
    }
    &.state-open {
        .closed {
            display: none;
        }
    }
}

#tvpris-map {
    padding-left: 0;
    padding-right: 0;
    &:focus, &:focus-within {
	.focused-within();
    }
}

.price-list {
    margin-top: 0.5em;
    .price {
	padding-left: 0.3em;
    }
    .reference_price {
	font-style: italic;
    }
}

.price-comp {
    font-weight: bold;
}
.price-comp, .price-diff {
    text-align: right;
}

#tvpris-map {
    height: 260px;
}

#price-query-results-counter {
    margin-top: 0;
    margin-bottom: 7px;
    .unknown {
	display: none;
    }
    &.unknown {
	.unknown {
	    display: block;
	}
	.counter {
	    display: none;
	}
    }
    .counter-text {
	font-weight: bold;
    }
}

@media @min-mq-sm {
    #tvpris-map {
	height: 480px;
	padding-left: 0.2em;
	padding-right: 0.2em;
    }
    #main-results-row {
	min-height: 480px;
    }
}
@media @min-mq-md {
    #tvpris-map {
	height: 700px;
	padding-left: 0.2em;
	padding-right: 0.2em;
    }
    #main-results-row {
	min-height: 700px;
    }
}

#filter-popup-link {
    cursor: pointer;
}

.reference-price-box, .reference-price-text {
    background-color: @reference-price-text-color-bg;
}

.reference-price-box {
    padding-top: 10px;
    font-weight: bold;
}

.related-info-link {
    text-align: center;
    .small-item-text();
    padding-bottom: 20px;
    padding-top: 20px;
    a, a:hover {
	font-weight: bold;
	color: @primary-color;
	text-decoration: none;
    }
}

.related-info-item-price {
    text-align: right;
    font-weight: bold;
}

.related-info-item-title {
    padding-bottom: 20px;
}

.price-comparison-item-list {
    list-style-type: none;
}

.expandable-toggle {
    .price-comparison-item-list, .address, .price-diff {
	font-weight: normal;
    }
}


#body .popover-content {
    min-width: 240px;
}

#body {
    #tpk-search-result-heading {
	vertical-align: baseline;
	text-align: left;
	display: inline-block;
	width: 50%;
	white-space: nowrap;
	font-size: 24px;
	margin-bottom: 0;
    }

    #tpk-new-search {
	text-align: right;
	vertical-align: baseline;
	display: inline-block;
	width: 50%;
    }
}

#query-presenter-panel {
    background-color: @ice-blue1;
    z-index: 200;
    .expandable-body {
	padding-top: 0;
    }
}

#tpk-query-presenter {
    background-color: @ice-blue1;
    .expandable-toggle {
	padding-top: 23px;
	padding-bottom: 22px;
    }
    .query-item-presenter {
	.query-item-text();
    }
    .query-item-presenter-more {
	.query-item-more-text();
    }
    .location-presenter {
	.location-presenter-text();
    }
}

#tpk-query-presenter-toggle {
    display: block;
}

@media @min-mq-sm {
    #main-results-row {
	position: relative;
	& > .col-sm-6 {
	    clear: left
	}
    }
    #tvpris-map-col {
	position: absolute;
	top: 0;
	right: 0;
    }
}

#reference-price-panel {
    position: static;
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
    z-index: 100;
    background-color: @darkish-purple;
    border-bottom-left-radius: @border-radius-large;
    border-bottom-right-radius: @border-radius-large;
    .reference-price-panel-positioned {
	position: relative;
	z-index: 100;
    }
}

#reference-price-panel-container {
    position: relative;
    padding-bottom: 10px;
}

#reference-price-panel-query-presenter {
    position: absolute;
    top: -20px;
    background-color: @darkish-purple;
    padding-top: 10px;
    min-height: 20px;
    .item-container {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
    }
}

.reference-price-panel-blinder {
    position: absolute;
    background-color: @darkish-purple;
    bottom: -15px;
    height: 15px;
}

#average-price-info {
    border: solid 7px @pink-bubble;
    border-radius: @border-radius-large;
    margin-bottom: 27px;
    margin-top: 18px;
    width: auto;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
    padding: 17px 18px 21px 18px;
    p {
	font-style: italic;
	margin-bottom: 0;
	a {
	    text-decoration: none;
	    font-weight: bold;
	    color: @primary-color;
	}
    }
    .arrow {
	height: 0;
	width: 0;
	border-top-width: 27px;
	border-left-width: 9px;
	border-right-width: 8px;
	border-bottom-width: 0;
	border-style: solid;
	border-top-color: @pink-bubble;
	border-left-color: @white;
	border-right-color: @white;
	position: absolute;
	bottom: -34px;
	right: 20px;
    }
}

#search-control-menu {
    top: 0;
    margin-top: 28px;
    margin-bottom: 17px;
    @media @min-mq-sm {
        margin-top: 0;
    }
    .caret-icons {
	transform: scale(0.8, 1.4) translate(0, -4px);
    }
    #search-control-link {
	text-decoration: none;
	padding-top: 20px;
	padding-bottom: 20px;
    }
    .presenter-label {
	font-weight: normal;
	color: @black;
    }
    .current {
	background-color: @ice-blue1;
    }
    .dropdown-backdrop, .backdrop {
	z-index: 80;
    }
    .dropdown-menu {
	z-index: 90;
	font-size: 16px;
	top: 0;
    }
    li a {
	text-decoration: none;
    }
}

#search-control-menu-container {
    display: inline-block;
    position: relative;
}

#search-control-link {
    .selection-presenter-item {
	font-weight: normal;
    }
    .caret-icons {
	display: inline-block;
	bottom: 17px;
	position: relative;
	.fa {
	    position: absolute;
	}
	.fa-caret-down {
	    top: 8px;
	}
    }
}

#measures-list-presenter-wrapper {
    padding: 15px 17px 6px 17px;
    background-color: @white;
    border-radius: @border-radius-large;
    ul {
	list-style-type: none;
	padding-left: 0;
	padding-top: 11px;
	li {
	    padding-bottom: 17px;
	    &:last-child {
		padding-bottom: 0;
	    }
	}
	li > div {
	    display: inline-block;
	    vertical-align: top;
	}
    }
    .code {
	font-weight: bold;
	width: 18%;
    }
    .title {
	width: 82%;
    }
    
}

.surgery-map-info {
    width: 250px;
    font-family: @font-family;
    line-height: 24px;
    font-size: 16px;
    .price {
	font-weight: bold;
	float: right;
	display: inline-block;
    }
    a.surgery-link {
	text-decoration: none;
	font-weight: bold;
	color: @primary-color;
    }
    .addressline {
	display: block;
    }
}

.tpk-navigation {
    overflow: hidden;
    li {
	text-align: center;
	a {
	    line-height: 1.6em;
	}
    }
    .disabled, .pagination li.disabled {
	display: none;
    }
    .pagination li.arrow.disabled {
	display: inline-block;
	visibility: hidden;
    }
    .arrow a {
	border-style: none;
    }

    nav {
	margin-left: -30px;
	margin-right: -30px;
	text-align: center;
    }

    .pagination li {
	display: inline-block;
	vertical-align: middle;
	a, a:focus, a:active {
	    padding-top: 8px;
	    font-weight: bold;
	    color: @primary-color;
	    border-radius: 22px;
	    min-height: 44px;
	    min-width: 44px;
	    border-color: @primary-color;
	    background: unset;
	}
	&.active {
	    a, a:focus, a:active {
		color: @white;
		background-color: @primary-color;
	    }
	}
	&.ellipsis {
	    position: relative;
	    width: 8px;
	    top: 5px;
	    span {
		padding: 3px 0 0 0;
		&:hover {
		    background: unset;
		}
	    }
	    &.more-before > span {
		position: relative;
		right: 4px;
	    }
	    
	}
	& > a, & > span {
	    border: none;
	}
    }
}

#tpk-result-surgeryinfolink .tpk-infoboxlink a {
    padding-left: 0;
}

#tpk-result-priceinfolink .tpk-infoboxlink a {
    padding-right: 0;
}

#tpk-result-referencepriceinfolink .tpk-infoboxlink a {
    padding-left: 0;
}

