@import "base.less";
@import "colors.less";
@import "fonts.less";
@import "forms.less";

#body {
    .autocomplete-suggestions {
	.form-element-borders();
	.form-element-padding();
	.form-input-text();
	box-shadow: none;
	border-top-left-radius: unset;
	border-top-right-radius: unset;
	border-top: none;
	background-color: @white;
	overflow-y: scroll;
	a, a:hover, a:visited, a:focus {
	    text-decoration: none;
	    color: @greyish-brown1;
	}
	.autocomplete-suggestion a {
	    display: block;
	    width: 100%;
	    padding-top: 5px;
	    padding-bottom: 5px;
	}
	.autocomplete-suggestion a:hover, .autocomplete-suggestion a:focus, .autocomplete-selected {
	    background-color: @ice-blue1;
	    color: @black;
	}
    }
}
