@import "bp.less";
@import "colors.less";

//== Components
//
//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).

@padding-base-vertical:     6px;
@padding-base-horizontal:   16px;

@padding-large-vertical:    10px;
@padding-large-horizontal:  16px;

@padding-small-vertical:    5px;
@padding-small-horizontal:  10px;

@padding-xs-vertical:       1px;
@padding-xs-horizontal:     5px;

@line-height-large:         1.3333333; // extra decimals for Win 8.1 Chrome
@line-height-small:         1.5;

@border-radius-base:        16px;
@border-radius-large:       16px;
@border-radius-small:       3px;

@media @max-mq-xs {
    .col-xs-0 {
	display: none;
    }
}

@media @max-mq-sm {
    .col-sm-0 {
	display: none;
    }
}

.xs-fullwidth() {
    margin-left: -30px;
    margin-right: -30px;
    @media @min-mq-sm {
	margin-left: 0;
	margin-right: 0;
    }
}

.xs-fullwidth-absolute() {
    right: -15px;
    left: -15px;
    width: auto;
    @media @min-mq-sm {
	right: 0;
	left: 0;
    }
}

.xs-fullwidth-padded() {
    .xs-fullwidth();
    padding-left: 30px;
    padding-right: 30px;
    @media @min-mq-sm {
	padding-left: 0;
	padding-right: 0;
    }
}

.xs-fullwidth-absolute-padded() {
    right: 0px;
    left: 0px;
    width: auto;
    padding-left: 30px;
    padding-right: 30px;
    @media @min-mq-sm {
	padding-left: 15px;
	padding-right: 15px;
	right: -15px;
	left: -15px;
    }
}

.sm-fullwidth() {
    margin-left: -30px;
    margin-right: -30px;
    @media @min-mq-md {
	margin-left: 0;
	margin-right: 0;
    }
}

.sm-fullwidth-padded() {
    .sm-fullwidth();
    padding-left: 30px;
    padding-right: 30px;
    @media @min-mq-md {
	padding-left: 0;
	padding-right: 0;
    }
}

.sm-fullwidth-absolute-padded() {
    .sm-fullwidth-absolute();
    padding-left: 30px;
    padding-right: 30px;
    @media @min-mq-md {
	padding-left: 15px;
	padding-right: 15px;
    }
}

.focused-within() {
  outline: solid 2px @focus-color;
  outline-offset: 3px;
}

.fa.fa-lg {
    font-size: 1.2em;
}

//** Global color for active items (e.g., navs or dropdowns).
@component-active-color:    #fff;
//** Global background color for active items (e.g., navs or dropdowns).
@component-active-bg:       @brand-primary;

//** Width of the `border` for generating carets that indicator dropdowns.
@caret-width-base:          4px;
//** Carets increase slightly in size for larger components.
@caret-width-large:         5px;


