@min-width-sm: 768px;
@max-width-xs: @min-width-sm - 1px;
@min-width-md: 992px;
@max-width-sm: @min-width-md - 1px;
@min-width-lg: 1200px;
@max-width-md: @min-width-lg - 1px;

@min-mq-sm: ~"(min-width: @{min-width-sm})";
@min-mq-md: ~"(min-width: @{min-width-md})";
@min-mq-lg: ~"(min-width: @{min-width-lg})";
@max-mq-xs: ~"(max-width: @{max-width-xs})";
@max-mq-sm: ~"(max-width: @{max-width-sm})";
@max-mq-md: ~"(max-width: @{max-width-md})";
