@import "base.less";
@import "bp.less";
@import "colors.less";
@import "fonts.less";

body {
  .btn {
      background-image: none;
      a, a:hover, a:visited {
	  color: #FFFFFF;
      }
      &:hover, &:focus {
	  -webkit-box-shadow: none;
	  -moz-box-shadow: none;
	  box-shadow: none;
	  border: none;
      }
      border: none;
  }
  .btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:active:focus,
  .btn-info, .btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info:active:focus{
      background-image: none;
      border: none;
      &.disabled, &[disabled] {
	  background-color: @button-color-disabled;
      }
  }
  .btn-primary, .btn-primary:hover, .btn-primary:focus {
      background-color: @button-primary-color;
  }
  .btn-primary:active, .btn-primary:active:focus, .btn-primary:active:hover {
      background-color: @button-primary-color-active;
  }
  .btn-info, .btn-info:hover, .btn-info:focus {
      background-color: @button-info-color;
  }
  .btn-info:active, .btn-info:active:focus, .btn-info:active:hover {
      background-color: @button-info-color-active;
  }
  .centered-button {
    text-align: center;
  }
  .button-base-style() {
      .btn {
	  font-weight: bold;
	  border-radius: @border-radius-large;
	  font-size: 20px;
      }
  }
  .medium-button {
      .button-base-style();
      .btn {
	  line-height: 19px;
	  padding-top: 16px;
	  padding-bottom: 16px;
	  padding-left: 50px;
	  padding-right: 50px;
      }
  }
  .large-button {
      .button-base-style();
      .btn {
	  padding-top: 14px;
	  padding-bottom: 14px;
	  padding-left: 60px;
	  padding-right: 60px;
	  display: inline-block;
	  min-width: 230px;
      }
  }
  .very-large-button {
      .large-button;
      @media @min-mq-md {
	  .btn {
	      font-size: 24px;
	      line-height: 27px;
	      padding-top: 22px;
	      padding-bottom: 20px;
	      padding-left: 146px;
	      padding-right: 146px;
	      -webkit-box-shadow: 0px 3px 10px 0px rgba(50, 50, 50, 0.44);
	      -moz-box-shadow:    0px 3px 10px 0px rgba(50, 50, 50, 0.44);
	      box-shadow:         0px 3px 10px 0px rgba(50, 50, 50, 0.44);
	  }
      }
  }
  .button-row {
      margin-top: 26px;
      margin-bottom: 25px;
      @media @min-mq-md {
	  margin-bottom: 40px;
      }
  }
}
