
@very-light-pink: #f3f3f3;
@deep-sea-blue: #005580;
@light-grey-blue: #94c4d5;
@teal-blue: #0087a9;
@ice-blue1: #e6f3f9;
@black: #000000;
@white: #ffffff;
@greyish-brown1: #545454;
@darkish-purple: #882461;
@pale-mauve: #f6eff4;
@racing-green: #005500;
@greyish-brown2: #3d3c3c;
@carmine: #a2011e;
@ice-blue2: #eff2f3;
@red: #af0120;

@color2: #00677C;
@color3: #BC3A00;
@color4: #80C6D4;
@color5: #882461;
@color6: #D3D3D3;
@color7: #EEEEEE;
@color8: #52C1B2;
@color9: #0070AC;
@pink-bubble: #f2e8f0;

@error-color: @red;

@darkdark-gray: #020202;
@gray-extra-dark: #020202;
@dark-gray: #333333;
@gray-dark: #333333;
@gray-slightly-dark: #979797;
@gray: #6B6B6B;
@gray-light: @color6;
@gray-extra-light: @color7;
@gray-subtle: rgb(248, 248, 248);

@text-color: rgb(51, 51, 51);
@text-color-light: rgb(127, 127, 127);
@inactive-color: @gray;
@deemphasized-text-color: @greyish-brown1;

@header-color-bg: @primary-color;
@header-color-fg: #fff;

@primary-color-light: #cee7ee;
@primary-color-transparent: #389db9;
@reference-price-text-color-bg: rgb(204, 231, 238);

@emphasis-color: @gray;

@surgery-admin-header-background: rgb(122, 122, 122);
@surgery-admin-header-text-color: #FFFFFF;

@footer-color-bg: @primary-color;
@footer-color-fg: @white;

@primary-color: @deep-sea-blue;
@brand-primary: @primary-color;
@background-color: #FFFFFF;

@inverted-color: #FFFFFF;

@action-primary-color: @color5;
@action-primary-color-active: rgb(112, 26, 80);
@action-info-color: @color9;

@item-a-color: @primary-color;
@item-b-color: @primary-color;
@item-c-color: @primary-color;
@item-d-color: @primary-color;
@item-e-color: @primary-color;
@item-f-color: @primary-color;
@item-g-color: @primary-color;
@item-p-color: @primary-color;

@measure-color: #d166a7;
@package-color: rgb(0, 135, 169);
@location-color: @color6;
@surgery-public-color: #ffc000;
@surgery-private-color: #882461;
@surgery-type-color: @color6;
@info-color: #ffc000;

@icon-color: @primary-color;

@expandable-header-border-color: @color6;

@button-primary-color: @action-primary-color;
@button-primary-color-active: @action-primary-color-active;
@button-color-disabled: rgb(216, 216, 216);
@button-info-color: @primary-color;
@button-info-color-active: rgb(0, 108, 135);

@focus-color: #000;
@hover-background-color: #f5f5f5;