@import "bp.less";
@import "fonts.less";
@import "colors.less";

.expandable-toggle {
    .expandable-toggle-text();
    .expandable-caret {
	padding-top: 0;
	padding-left:0;
	padding-bottom:0;
	position: relative;
	margin:0;
	.fa {
	    font-size: 1.2em;
	    font-weight: bold;
	}
    }
    .line {
	border-bottom: 1px solid @gray-light;
    }
    cursor: pointer;
    &.closed .opened {
	display: none;
    }
    &.opened .closed {
	display: none;
    }
    .closed {
	display: none;
    }
    .collapsed {
	.closed {
	    display: inline;
	}
	.opened {
	    display: none;
	}
    }
    h3 {
	font-size: @toggle-heading-size;
	font-weight: bold;
    }
}
.expandable-toggle-line {
    border-bottom: 1px solid @expandable-header-border-color;
}

.expandable-toggle-small-label {
   text-align: right;
   font-weight: bold;
   color: @primary-color;
   .small-item-text();
}

.expandable-caret {
    color: @primary-color;
    font-size: 19px;
}

.expandable-body {
    .package-type-extra {
	padding-left: 18px;
    }
    padding-top: 20px;
    padding-bottom: 20px;
    clear: both;
}


