@import "bp.less";

@font-size-base:          18px;
@font-size-large:         20px;
@font-size-small:         16px;

@font-family-heavy: "Arial Black", Gadget, "BitStream Vera Sans", "DejaVu Sans", "Droid Sans", sans-serif;
@font-family: Arial, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, sans-serif;
@font-family-error: "Helvetica Neue", Helvetica, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, sans-serif;

@font-family-serif: Georgia, serif;

@header-heading-size: 28px;
@toggle-heading-size: 23px;
@header-logout-link-size: 19px;

@large-button-size: 21px;

@form-label-size: 18px;

@heading-font-family: @font-family-serif;

@font-size-heading-medium: 23px;

.select-widget-text() {
    font-size: 16px;
    line-height: 24px;
    padding-top: 13px;
    padding-bottom: 13px;
    font-family: @font-family-heavy;
}

.form-label-text() {
    font-weight: bold;
    font-size: 17px;
    line-height: 19px;
    margin-bottom: 25px;
    margin-top: 25px;
    font-family: @font-family;
}

.form-label-element-text() {
    font-weight: normal;
    font-size: 18px;
    font-family: @font-family;
}

.form-input-text() {
    font-size: 18px;
    line-height: 30px;
}

.form-input-info-extra-text() {
    font-size: 18px;
    font-style: italic;
    margin-top: 10px;
}

.form-input-info-extra-text-regular() {
    font-size: 18px;
    margin-top: 10px;
}

.header-title-text() {
    font-size: 20px;
    font-weight: bold;
    font-family: @font-family-heavy;

    @media @min-mq-md {
	font-size: 36px;
    }
}

.footer-link-text() {
    font-size: 16px;
    line-height: 22px;
    font-weight: bold;
    color: @white;
    @media @min-mq-md {
	font-size: 18px;
	line-height: 30px;
    }
}

.query-item-text() {
    font-size: 16px;
    color: @primary-color;
    font-weight: bold;
    line-height: 22px;
}

.query-item-more-text() {
    font-size: 16px;
    color: @primary-color;
    font-weight: normal;
    line-height: 22px;
    font-style: italic;
}

.location-presenter-text() {
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    color: @black;
}

.expandable-toggle-text() {
    font-size: 18px;
    .line {
	padding-bottom: 13px;
	padding-top: 19px;
    }
    font-weight: normal;
    @media @min-mq-md {
	.line {
	    padding-top: 22px;
	}
	font-weight: bold;
    }
}

.old-h1-text() {
    font-family: @font-family-serif;
    font-size: 28px;
    margin-bottom: 20px;
    text-align: left;
    @media @min-mq-md {
       font-size: 42px;
       margin-bottom: 30px;
    }
}

.surgery-h1-text() {
    font-family: @font-family-heavy;
    text-align: left;
    font-size: 30px;
    line-height: 34px;
    @media @min-mq-md {
	line-height: 44px;
    }
}

.surgery-h2-text() {
    font-size: 18px;
    text-aling: left;
    font-weight: bold;
    color: @primary-color;
}

.small-link-text() {
    font-size: 16px;
    padding-bottom: 12px;
}

.small-item-text() {
    font-size: 16px;
}

.breakable-text() {
    /* Warning: Needed for oldIE support, but words are broken up letter-by-letter */
    -ms-word-break: break-all;

    /* Non standard for webkit */
    word-break: break-word;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.small-item-breakable-text() {
    .small-item-text();
    .breakable-text();
}

.smallest-text() {
    font-size: 16px;
}

.company-text() {
    font-size: 16px;
    line-height: 22px;
    .breakable-text();
}

.company-label-text() {
    .company-text();
    font-weight: bold;
}

.h1-text() {
    font-family: @font-family;
    font-size: 30px;
    line-height: 34px;
    font-weight: bold;
    margin-bottom: 10px;
    @media @min-mq-md {
	margin-bottom: 12px;
    }
}

.h2-text() {
    font-family: @font-family;
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    margin-bottom: 18px;
    text-align: left;
}

.field-label-text() {
    font-family: @font-family;
    font-size: 18px;
    font-weight: bold;
    margin-top: 19px;
    margin-bottom: 5px;
    @media @min-mq-md {
	margin-bottom: 10px;
    }
}

.surgery-heading-text() {
    font-family: @font-family;
    font-size: 18px;
    font-weight: bold;
    margin-top: 21px;
    margin-bottom: 12px;
}

.surgery-label-text() {
    font-family: @font-family;
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
}

.measure-select-link-text() {
    font-size: 20px;
    font-weight: bold;
    margin-top: 33px;
    margin-bottom: 15px;
    text-align: center;
}

.measure-select-link-space() {
    margin-top: 55px;
}

.body-text() {
    font-family: @font-family;
    font-size: 16px;
    @media @min-mq-sm {
	font-size: 18px;
    }
}

.popover-title-text() {
    font-size: 20px;
    font-weight: bold;
    font-family: @font-family;

}

.large-text() {
    font-size: @font-size-large;
    font-family: @font-family;
}

.heading-font-medium() {
    font-size: @font-size-heading-medium;
    font-weight: bold;
}

.error-text() {
    color: @error-color;
    font-family: @font-family-error;
    font-size: 16px;
}

.modal-content-text() {
    white-space: normal;
    font-weight: normal;
    font-size: 18px;
    text-align: left;
}

//** Unit-less `line-height` for use in components like buttons.
@line-height-base:        1.846; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
@line-height-computed:    floor((@font-size-base * @line-height-base)); // ~20px

@font-size-h2: 23px;

@media (min-width: 992px) {
       @font-size-h2: 36px;
}
