@import "bp.less";
@import "colors.less";
@import "fonts.less";
@import "space.less";

#tvpris-footer-area {
    z-index: 100;
    flex-shrink: 0;
    margin-top: @top-and-bottom;
    background-color: @footer-color-bg;
    color: @footer-color-fg;
    .footer-container {
        padding-top: 32px;
    }
    @media @min-mq-md {
	padding-top: 0;
	padding-bottom: 0;
    }
    .footer-links a {
 	padding-top: 11px;
	padding-bottom: 11px;
	.footer-link-text();
	width: 100%;
	display: block;
    }
    ul {
	list-style-type: none;
	padding-left: 20px;
    }
    a {
	color: @footer-color-fg;
    }
    a:hover {
	color: @footer-color-fg;
    }
    .wikiexternallink {
        background: none;
    }
    .footer-links-sep {
	border-top: 1px solid rgba(256, 256, 256, 0.51);
    }
}

#footer-logo-large {
    padding-left: 20px;
    padding-bottom: 20px;
}

@media @min-mq-sm {
  #tvpris-footer-area {
      .footer-links-sep {
	  display: none;
      }
  }
  #footer-logo-large {
      padding-top: 10px;
      padding-left: 0;
  }
}
