@import "base.less";
@import "colors.less";
@import "fonts.less";

//== Forms
//
//##

//** `<input>` background color
@input-bg:                       transparent;
//** `<input disabled>` background color
@input-bg-disabled:              transparent;

//** Text color for `<input>`s
@input-color:                    @gray;
//** `<input>` border color
@input-border:                   transparent;

// TODO: Rename `@input-border-radius` to `@input-border-radius-base` in v4
//** Default `.form-control` border radius
// This has no effect on `<select>`s in some browsers, due to the limited stylability of `<select>`s in CSS.
@input-border-radius:            @border-radius-base;
//** Large `.form-control` border radius
@input-border-radius-large:      @border-radius-large;
//** Small `.form-control` border radius

//** Border color for inputs on focus
@input-border-focus:             #66afe9;

//** Placeholder text color
@input-color-placeholder:        @gray-light;

//** Default `.form-control` height
@input-height-base:              (@line-height-computed + (@padding-base-vertical * 2) + 2);
//** Large `.form-control` height
@input-height-large:             (ceil(@font-size-large * @line-height-large) + (@padding-large-vertical * 2) + 2);
//** Small `.form-control` height
@input-height-small:             (floor(@font-size-small * @line-height-small) + (@padding-small-vertical * 2) + 2);

//** `.form-group` margin
@form-group-margin-bottom:       15px;

@legend-color:                   @gray-dark;
@legend-border-color:            #e5e5e5;

//** Background color for textual input addons
@input-group-addon-bg:           transparent;
//** Border color for textual input addons
@input-group-addon-border-color: @input-border;

//** Disabled cursor for form controls and buttons.
@cursor-disabled:                not-allowed;



//*/

.form-element-borders() {
   border-width: 1px;
   border-radius: 16px;
   border-style: solid;
   border-color: @primary-color;
}

.form-element-padding() {
   padding-left: 15px;
   padding-right: 17px;
   padding-top: 9px;
   padding-bottom: 9px;
}

#body {
    input[type="checkbox"]:after, input[type="checkbox"]:checked:after,
    .checkbox input[type="checkbox"]:checked:after,
    .checkbox-inline input[type="checkbox"]:checked:after {
	background-color: @background-color;
	border-color: @primary-color;
    }

    input[type="checkbox"]:checked:before,
    .checkbox input[type="checkbox"]:checked:before,
    .checkbox-inline input[type="checkbox"]:checked:before {
	border-color: @primary-color;
	border-right-width: 3px;
	border-bottom-width: 3px;
    }

    input[type="text"],
    textarea {
	.form-element-borders();
	.form-element-padding();
	.form-input-text();
    }

    #position-input.suggestions-opened {
	border-bottom-left-radius: unset;
	border-bottom-right-radius: unset;
	border-bottom: none;
    }


    :placeholder-shown {
	font-style: italic;
	color: @deemphasized-text-color;
    }
    
    input[type="text"]:focus,
    textarea:focus {
	box-shadow: none;
    }

    input[type="text"]:invalid,
    textarea:invalid {
	border-color: @error-color;
	& ~ .invalid {
	    display: inline;
	    display: initial;
	}
    }

    .invalid {
	color: @error-color;
    }
		 
    input[type="checkbox"]:focus {
	outline: none;
    }

    .surgery-extra-field-info {
	.form-input-info-extra-text();
    }

    dt {
	.form-label-text();
    }

    label {
	.form-label-element-text();
    }

    .select2-container--default .select2-selection {
	.form-element-borders();
	padding-top: 3px;
	padding-bottom: 3px;
	box-sizing: content-box;
    }
    .select2-container--default .select2-selection .select2-selection__arrow {
	top: 4px;
    }

    div.item-browser-label {
        padding-left: 6px;
    }
}
							
.editable-flag {
    label {
	max-width: 80%;
	vertical-align: middle;
	padding-left: 11px;
	color: @inactive-color;
    }
    &.checked label {
	text-decoration: none;
	color: @text-color;
    }
    margin-bottom: 14px;
}

input[type="checkbox"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    position: relative;
    border: none;
    margin-bottom: -4px;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
}

#tpk-filters .tpk-filter  {
    margin-left: 0;
}

#tpk-filters .tpk-filter-row {
    background-color: @background-color;
    margin-bottom: 11px;
}

input[type="radio"], input[type="checkbox"] {
    display: inline-block;
    margin-right: 8px;
}

input[type="radio"], input[type="checkbox"] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal;
}

input[type="checkbox"]:checked:after, .checkbox input[type="checkbox"]:checked:after, .checkbox-inline input[type="checkbox"]:checked:after {
    background-color: #2196F3;
    border-color: #2196F3;
}

input[type="checkbox"]:after, .checkbox input[type="checkbox"]:after, .checkbox-inline input[type="checkbox"]:after {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    margin-top: -2px;
    margin-right: 5px;
    border: 2px solid #666;
    border-radius: 16px;
    -webkit-transition: 240ms;
    -o-transition: 240ms;
    transition: 240ms;
}


input[type="checkbox"]:after, .checkbox input[type="checkbox"]:after, .checkbox-inline input[type="checkbox"]:after {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    margin-top: -2px;
    margin-right: 5px;
    border: 2px solid #666;
    border-radius: 2px;
    -webkit-transition: 240ms;
    -o-transition: 240ms;
    transition: 240ms;
}

input[type="checkbox"]:checked:before, .checkbox input[type="checkbox"]:checked:before, .checkbox-inline input[type="checkbox"]:checked:before {
    content: "";
    position: absolute;
    top: 0;
    left: 6px;
    display: table;
    width: 6px;
    height: 12px;
    border: 2px solid #fff;
    border-top-width: 0;
    border-left-width: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input[type="checkbox"]:after, .checkbox input[type="checkbox"]:after, .checkbox-inline input[type="checkbox"]:after {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    margin-top: -2px;
    margin-right: 5px;
    border: 2px solid #666;
    border-radius: 2px;
    -webkit-transition: 240ms;
    -o-transition: 240ms;
    transition: 240ms;
}

.checkbox-inline label {
    display: inline;
}
