@import "bp.less";
@import "colors.less";
@import "fonts.less";
@import "box-shadow.less";


#tvpris-header-area {
    padding-top: 15px;
    padding-bottom: 15px;
    height: 75px;
    color: @header-color-fg;
    h1, h2, h3, h4, h5 {
	color: @header-color-fg;
    }
    background-color: @header-color-bg;
    #tpk-header-h1 {
	.header-title-text();
	padding-top: 3px;
	margin-bottom: 0;
	margin-top: 0;
	a {
	    color: @header-color-fg;
	    text-decoration: none;
	}
    }
}


#header-logo-large {
   height: 42px;
   overflow: hidden;
   position: relative;
   top: 0px;
   display: none;
}

#header-logo-small {
    height: 28px;
    overflow: hidden;
    position: relative;
    top: 8px;
}

@media @min-mq-sm {
    #header-logo-large {
	display: inline;
    }
    #header-logo-small {
	display: none;
	top: 2px;
    }
}

@media @min-mq-md {
    #tvpris-header-area {
	padding-top: 26px;
	height: 120px;
	#tpk-header-h1 {
	    padding-top: 10px;
	}
    }
    #tpk-header-h1 {
	display: block;
    }
    #header-logo-large {
    	height: 85px;
	top: -7px;
    }
}
