@import "colors.less";

@background: rgba(246, 246, 246, 0.3);
@background-active: rgba(167, 215, 249, 0.3);
@border: @gray-light;
@border-active: @gray-slightly-dark;

.tvpris-image {
    text-align: center;
}

.droparea {
    padding-top: 80px;
    p.instruction-label {
	margin: 0;
	font-size: 17px;
	position: relative;
	top: 50px;
    }
    z-index: 20;
    background-color: @background;
    border-color: @border;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 1em;
    position: absolute;
    p {
	margin: 1.6em;
	width: 100%;
	text-align: center;
	font-size: 1.6em;
    }
    &.droparea-active {
	background-color: @background-active;
	border-color: @border-active;
    }

}

.imagearea, .droparea {
    width: 100%;
    max-width: 510px;
    height: 220px;
    display: inline-block;
    overflow: hidden;
}

.imagearea {
    position: relative;
    img {
        max-width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%)
    }
}

#tvpris-surgery-logo-upload .droparea, #tvpris-surgery-image-upload .droparea {
    border-style: dashed;
    border-width: 1px;
    border-color: @gray-light;
}


.surgery-image {
    overflow-y: hidden;
    width: 100%;
    position: relative;
    height: 220px;

    .surgery-image-small {
	height: 100px;
	width: 100%;
	img {
            max-height: 100px;
	}
    }
    img {
        max-width: 100%;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
    }
}

