@import "base.less";
@import "colors.less";
@import "fonts.less";

#body .popover {
    border-radius: @border-radius-large;
    z-index: 5;
    .close {
	opacity: 1;
    }
    h3.popover-title {
        .popover-title-text();
	margin: 0;
	background-color: @white;
	color: @black;
	text-align: left;
	border-bottom: none;
    }
    background-color: @white;
    color: @black;
    border: solid 7px @pink-bubble;
    &.top > .arrow {
    	bottom: -17px;
	border-top-color: @pink-bubble;
    }
    &.top > .arrow:after {
	border-top-color: @pink-bubble;
    }
    &.left > .arrow {
    	right: -17px;
	border-left-color: @pink-bubble;
    }
    &.left > .arrow:after {
	border-left-color: @pink-bubble;
    }
    &.right > .arrow {
    	left: -17px;
	border-right-color: @pink-bubble;
    }
    &.right > .arrow:after {
	border-right-color: @pink-bubble;
    }
    &.bottom > .arrow {
    	top: -17px;
	border-bottom-color: @pink-bubble;
    }
    &.bottom > .arrow:after {
	border-bottom-color: @pink-bubble;
    }
}

#body #main-results-row > .popover {
    z-index: 100;
    .close {
	font-weight: normal;
	color: @white;
    }
    h3.popover-title {
	background-color: @primary-color;
	color: @white;
    }
    background-color: @primary-color;
    color: @white;
    border-color: @primary-color;
    &.top > .arrow {
	border-top-color: @primary-color;
    }
    &.top > .arrow:after {
	border-top-color: @primary-color;
    }
    &.left > .arrow {
	border-left-color: @primary-color;
    }
    &.left > .arrow:after {
	border-left-color: @primary-color;
    }
    &.right > .arrow {
	border-right-color: @primary-color;
    }
    &.right > .arrow:after {
	border-right-color: @primary-color;
    }
    &.bottom > .arrow {
	border-bottom-color: @primary-color;
    }
    &.bottom > .arrow:after {
	border-bottom-color: @primary-color;
    }
}
