@import "colors.less";

@item-border: solid 1px @color6;
@item-marker-width: 0.5em;

.item-separator {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.item-selector {
    .item-padding;
    .item-marker;
    .item-row;
    .item-separator;
    border-top: @item-border;
    border-bottom: @item-border;
    border-right: @item-border;
    background-color: @color6;
    cursor: pointer;
}

.item-marker {
    border-left-style: solid;
    border-left-width: @item-marker-width;
}

.item-type-a {
    border-left-color: @item-a-color;
}
.item-type-b {
    border-left-color: @item-b-color;
}
.item-type-c {
    border-left-color: @item-c-color;
}
.item-type-d {
    border-left-color: @item-d-color;
}
.item-type-e {
    border-left-color: @item-e-color;
}
.item-type-f {
    border-left-color: @item-f-color;
}
.item-type-g {
    border-left-color: @item-g-color;
}
.item-type-p {
     border-left-color: @item-p-color;
}
.item-type-measure {
    border-left-color: @measure-color;
}
.item-type-package {
    border-left-color: @package-color;
}
.item-type-location {
    border-left-color: @location-color;
}
.item-type-info {
    border-left-color: @info-color;
}
.item-type-surgery-private {
    border-left-color: @surgery-private-color;
}
.item-type-surgery-public {
    border-left-color: @surgery-public-color;
}
.item-type-surgery-type {
    border-left-color: @surgery-type-color;
}
.item-corners {
    border-radius: 4px;
}
.item-padding {
    padding-top: 0.3em;
    padding-bottom: 0.1em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
}

.item-icon {
    color: @icon-color
}

.button-corners {
    border-radius: 5px;
}

#more-items-toggle {
    .item-padding;
    .item-row;
    text-align: right;
}

.item-box-head {
    .item-padding;
    .item-marker;
    .item-row;
    border-top: @item-border;
    border-right: @item-border;
    background-color: @color6;
}

.selectable-item-row .type, .item-selector .type {
    padding-left: 5px;
}

.selectable-item-row {
    cursor: pointer;
    padding-left: 14px;
}

.item-row {
    margin-left: 0.2em;
    margin-right: 0.2em;
}

.item-box-body {
    .item-padding;
    .item-marker;
    .item-row;
    border-bottom: @item-border;
    border-right: @item-border;
    background-color: @color6;
}

