@import "fonts.less";

#body .modal-content {
  border-radius: 4px;
  .modal-content-text();
}

#body .modal-title {
  margin-bottom: 0;
  padding-bottom: 0;
}

#body .modal-header {
  border-bottom: none;
  button.close {
      padding-left: 44px;
      padding-bottom: 24px;
      position: absolute;
      right: 20px;
      top: 13px;
  }
}

#body .modal-footer {
    border-top: none;
}
