@import "base.less";
@import "colors.less";
@import "fonts.less";

.full {
    .selection-presenter-item {
	display: inline-block;
	margin-bottom: 0.2em;
    }
}

.query-presenters-small {
    position: relative;
    .query-presenters-small-pos {
	padding-top: 10px;
	position: absolute;
	z-index: 50;
	width: 90%;
	.row {
	    background: transparent;
	    padding-left: 20px;
	    padding-right: 20px;
	    padding-top: 10px;
	}
    }
}

.query-presenters.full {
    display: none;
}

.filter-presenter {
    display: none;
}

#price-query-results-selection-presenter {
    &.compact .full {
	display: none;
    }
    &.compact .compact {
	display: initial;
    }
    .compact {
	display: none;
    }
}

.selection-presenter-remove {
    padding-left: 26px;
    padding-bottom: 26px;
    padding-top: 14px;
    padding-right: 14px;
    border: none;
    background: transparent;
    position: absolute;
    top: -3px;
    right: 0;
}

.selection-presenter-padded-item() {
    display: inline-block;
    background-color: @primary-color;
    color: @inverted-color;
    border-radius: @border-radius-base;
    padding-left: 7px;
    margin-left: 5px;
    margin-top: 0;
    margin-bottom: 10px;
    position: relative;
    padding-right: 60px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.filter-presenters, .query-presenters {
    .small-item-text();
}

@media (min-width: 992px) {

    .query-presenters-small {
	display: none;
    }
    .query-presenters.full {
	display: block;
    }
    .filter-presenter {
	display: inline;
    }
    .filter-count-presenter {
	display: none;
    }
    .query-presenters {
	.filter-presenters {
	    .selection-presenter-item {
		.selection-presenter-padded-item();
	    }
	}
    }
}

#selected-measures-presenter .selection-presenter-item {
    .selection-presenter-padded-item();
    .item-wrapper {
	display: table;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
    }
    .item-code {
	display: table-cell;
	width: 2em;
    }
    .item-text {
	display: table-cell;
	padding-left: 5px;
    }
}

.query-presenters-small .query-presenters .major-presenter {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.query-presenters {
    margin-top: 15px;
    .row {
	background-color: @gray-extra-light;
    }
    &.labels {
	margin-top: 10px;
	color: @dark-gray;
    }
    .major-presenter {
	background-color: @background-color;
	border-radius: 2px;
	width: 100%;
	height: 100%;
	box-shadow: 0 0 5px 0px rgba(112,112,112,0.75);
	padding: 4px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin-bottom: 10px;
	&:hover {
	    white-space: initial;
	}
	.selection-presenter-item {
	    display: inline;
	}
    }
    .major-presenter div {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	&:hover {
	    white-space: initial;
	    z-index: 10000;
	}
    }
    
    .major-presenter-label {
	.smallest-text();
	color: @gray;
    }

    .sort-order-presenter {
	color: @primary-color;
    }

    .filter-count-presenter {
	color: @primary-color;
	font-weight: bold;
    }

    .col-xs-6 {
	padding-bottom: 8px;
	padding-top: 5px;
    }
}

.sort-order-presenter {
    .selection-presenter-item {
	cursor: pointer;
	font-weight: bold;
    }
}

