@import "space.less";
@import "fonts.less";
@import "colors.less";

.search-result-meta {
    padding-top: @top-and-bottom;
}

.search-result-item-row {
    padding-top: @top-and-bottom;
}

#tpk-search-query {
    .heading-font-medium();
}

#tpk-search-num-found {
    font-size: @font-size-small;
}

#body .search-result-item {
    .large-text();
    a {
	color: @text-color;
    }
}
