
@import "base.less";
@import "colors.less";
@import "fonts.less";

@keyframes expand-horizontally {
    from {
	left: 50%;
	width: 0;
    }
    to {
	left: 0;
	width: 100%;
    }
}

#body .select-widget-wrapper {
    display: none;
    text-align: center;
    
    padding-top: 9px;

    @media @min-mq-md {
	padding-top: 37px;
    }

    .select-item-text {
	position: relative;
	display: inline-block;
    }
    .selected-mark, .other-mark {
	height: 2px;
	position: absolute;
	bottom: 0;
	left: 0;
    }
    .selected-mark {
	background-color: @white;
	width: 100%;
    }
    .other-mark {
	background-color: @primary-color;
	width: 0;
    }
    @media (hover: hover) {
	a:hover .other-mark {
	    animation-name: expand-horizontally;
	    animation-duration: 1s;
	    width: 100%;
	}
    }
    &.active {
        display: block;
    }
    a, a:hover {
	text-decoration: none;
    }
    & > span, & > a {
      	.select-widget-text();
	display: inline-block;
	text-align: center;
	width: 49.3%;
	color: @primary-color;
	background-color: @ice-blue1;
	cursor: pointer;
	&.selected, .selected, &.selected a, &.selected a:hover {
	    background-color: @primary-color;
	    color:  @white;
	    font-weight: bold;
	}
	&.proportion40 {
	    width: 39.3%;
	}
	&.proportion60 {
	    width: 59.3%;
	}
	&.proportion45 {
	    width: 44.3%;
	}
	&.proportion55 {
	    width: 54.3%;
	}
    }
    & > span, & > a {
	border-radius: @border-radius-large;
	&:last-child {
	   margin-left: 1.4%;
	}
    }
}



