@import "colors.less";
@import "forms.less";

@structured-combobox-font-size: 16px;

#body {
    .structured-combobox-search {
	display: table;
	width: 100%;
	& > a {
	    display: table-row;
	    background-color: transparent;
	}
	.structured-combobox-search-icon, .structured-combobox-search-input {
	    display: table-cell;
	}
	.structured-combobox-search-icon {
	    padding-left: 0px;
	}
	.structured-combobox-search-input {
	    width: 100%;
	    padding-right: 15px;
	    input {
	    	margin-left: 10px;
	    	margin-bottom: 5px;
		outline-offset: 0;
		outline: none;
  		border: none;
		box-shadow: none;
		width: 100%;
		border-radius: unset;
		&:focus {
		    box-shadow: none;
		}
	    }
	}
    }
    .invalid {
	.structured-combobox-caret {
	    color: @error-color;
	}
    }
    .structured-combobox.dropdown button.invalid {
	border-color: @error-color;
    }

    .structured-combobox-caret {
	color: @primary-color;
	font-size: 17px;
	.fa-caret-down, .fa-caret-up {
	    transform: scaleY(2.0);
	}
    }
    .structured-combobox {
	.scb-highlight {
	    font-weight: bold;
	}
	.divider {
	    margin: 0;
	}
	a {
	    text-decoration: none;
	}
	&.dropdown button {
	    border: 1px solid @primary-color;
	    background-color: @background-color;
	    .form-element-borders();
	    .form-element-padding();
	    .form-input-text();
	    font-size: @structured-combobox-font-size;
	    .caret {
		color: @primary-color;
		font-size: @structured-combobox-font-size;
	    }
	    &.placeholder {
		font-style: italic;
		color: @deemphasized-text-color;
	    }
	}
	.button-text-wrapper {
	    display:table;
	    span {
		display:table-cell;
	    }
	    .button-text {
		width: 100%;
		white-space: normal;
	    }
	}
	.candidate {
	    background-color: @ice-blue1;
	}
	&.open button {
	    display:none;
	}
	.ui-effects-wrapper {
	    margin-left: 20px;
	    margin-right: 20px;
	}
	.caret {
	    display: block;
	    float: right;
	    margin-top: 8px;
	}
	li.structured-combobox-item {
	    position: relative;
	    padding-right: 0px;
	    a {
		display: block;
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left: 0;
		padding-right: 0;
		clear: both;
		font-weight: normal;
		line-height: 1.42857143;
		color: #333;
	    }
	    &.disabled {
		display: none!important;
	    }
	}
	.structured-combobox-header {
	    padding: 0;
	    li.structured-combobox-item {
		&:hover, &:focus-within {
		    background-color: @ice-blue1;
		}
	    }
	    & > a {
		&:hover, &:focus {
		    background-color: transparent;
		}
	    }
	    ul {
	    	padding-inline-start: 0;
		list-style-type: none;
		li {
		    padding-left: 22px;
		}
	    }
	    white-space: normal;
	    color: #000;
	    font-size: @structured-combobox-font-size;
	    & > a {
		padding-top: 19px;
		padding-bottom: 14px;
		padding-left: 0px;
		padding-right: 0px;
	    }
	    .closed {
		display: none;
	    }
	    &.disabled {
		display: none;
	    }
	    &[aria-expanded="false"] {
		.opened {
		    display: none;
		};
		.closed {
		    display: inline-block;
		}
	    }
	}
	.divider.disabled {
	    display: none;
	}
	.structured-combobox-toggle {
	    display: table;
	    & > div {
		display: table-cell;
	    }
	    .structured-combobox-sectionname {
		width: 100%;
	    }
	}
	.marker-wrapper {
	    width: 0;
	    overflow: visible;
	    position: absolute;
	    left: 0px;
	    top:  5px;
	    color: @primary-color;
	    .marker {
		display: none;
	    }
	}
	.selected .marker-wrapper .marker {
	    display: inline;
	}
	button {
	    text-align: left;
	    width: 100%;
	}
	.dropdown-menu {
	    position: relative;
	    top: -1px;
	    width: 100%;
	    margin-top: 0;
	    .form-element-borders();
	    .form-element-padding();
	    box-shadow: none;
	}
	li > a {
	    white-space: normal;
	}
    }
}
