@import "base.less";
@import "fonts.less";
@import "colors.less";

#body h1 {
    &.tpk-surgery-name, &.surgery-expandable-heading {
	.surgery-h1-text();
	.breakable-text();
    }
}

#surgery-info-expandable-toggle {
    text-align: center;
}

.tpk-surgery-category {
    text-align: center;
}

#body .tpk-surgery-container .surgery-heading {
    .surgery-heading-text();
}

.flag-label {
    text-decoration: line-through;
    color: @gray;
    margin-top: 5px;
    margin-bottom: 5px;
    &.checked {
	text-decoration: none;
	color: @text-color;
    }
}

.surgery-flag {
    text-align: right;
}

.surgery-contact-widget-item {
    display: inline-block;
    width: 130px;
    max-width: 29%;
    border-left: 1px solid @primary-color;
    margin: 5px;
    padding: 5px;
    color: @primary-color;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    &:first-child {
	border-left: none;
    }
}

.info-label {
    padding-left: 25px;
    padding-bottom: 20px;
}

.info-text {
    text-align: right;
    font-weight: bold;
    padding-bottom: 20px;
}

#surgery-package-prices, #tpk-surgery-measure-prices {
    .expandable-toggle {
	a {
            .surgery-h2-text();
	    .breakable-text();
	}
    }
    .package-type-expandable, .measure-type-expandable {
	border-bottom: 1px solid @ice-blue1;
    }
    .price {
	text-align: right;
	padding-right: 29px;
    }
    .price {
	font-weight: bold;
	.small-item-text();
	white-space: nowrap;
    }
    .reference-price {
        .small-item-text();
    }
    .code {
        .small-item-text();
    }
    .title {
	.small-item-breakable-text();
    }
}

.surgery-info-wrapper {
    border-bottom: 1px solid rgb(151 , 151, 151);
    padding-bottom: 19px;
}

.surgery-contact-icon {
    font-weight: bold;
    color: @darkish-purple;
}

#company-label, #company-value {
    display: table-cell;
}
#company-label  {
    .company-label-text();
    width: 108px;
}
#company-value {
    .company-text();
}
.surgery-company-wrapper {
    display: table;
    width: 100%;
    margin-bottom: 20px;
}

.surgery-contact-panel {
    .sm-fullwidth();
    margin-bottom: 27px;
    padding: 25px 20px 28px 20px;
    @media @min-mq-sm {
	padding: 26px 27px 25px 27px;
    }
    background-color: @ice-blue1;
    .surgery-contact-icon {
	float: left;
    }
    .surgery-contact-infobox {
	padding: 15px 17px 6px 17px;
	background-color: @white;
	border-radius: @border-radius-large;
    }
    .surgery-field-label,  .surgery-field-value, .surgery-contact-link {
	margin-left: 40px;
    }
    .surgery-show-on-map-link {
	margin-top: 5px;
    }
    .surgery-field-label {
	.surgery-label-text();
    }
    .surgery-contact-link {
	font-weight: bold;
	a {
	    text-decoration: none;
	    &:hover {
		text-decoration: underline;
	    }
	}
    }
    .contact-item {
	margin-bottom: 16px;
	overflow-wrap: break-word;
	@media @min-mq-sm {
	    min-height: 100px;
	}
    }
}

#body .surgery-price-infobox-wrapper {
    .sm-fullwidth();
    background-color: @darkish-purple;
    color: @white;
    padding: 19px 17px 30px 17px;
    @media @min-mq-sm {
	padding-left: 43px;
	padding-right: 35px;
	padding-bottom: 40px;
    }
    @media @min-mq-md {
	border-radius: @border-radius-large;
    }
    .minus-sign, .plus-sign {
	font-size: 60px;
	display: inline-block;
	padding-right: 3px;
    }
    .surgery-price-infobox {
	margin-top: 36px;
    }
    .price-level-percentage-diff {
	@media  @min-mq-sm {
	    float: left;
	    padding-right: 30px;
	}
	margin-bottom: 30px;
	white-space: nowrap;
    }
    .price-level-percentage-diff-text {
	font-weight: bold;
	font-size: 77px;
    }
    .percentage-sign {
	font-weight: bold;
	font-size: 34px;
    }
    .arrow {
	display: none;
    }
    #average-price-info {
	clear: left;
	background-color: @pink-bubble;
	color: @black;
	padding: 10px 18px 19px 21px;
	margin-bottom: 0;
    }
     h2.surgery-heading {
	 color: @white;
	 margin-top: 0;
     }
}

#body .surgery-overall-comment-wrapper h2.surgery-heading {
    margin-top: 0;
}

.price-and-comment {
    position: relative;
    margin-bottom: 10px;
}

.surgery-overall-comment-wrapper {
    margin-top: 10px;
    @media @min-mq-md {
	margin-top: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	.surgery-overall-comment {
	    height: 100%;
	    border-radius: @border-radius-large;
	}
    }
}

.surgery-overall-comment {
    .sm-fullwidth();
    background-color: @pink-bubble;
    margin-top: 27px;
    padding: 19px 31px 28px 17px;
    @media @min-mq-sm {
	margin-top: 0;
	padding-left: 43px;
	padding-right: 35px;
    }
}



#tvpris-map.surgery-view-map {
    .sm-fullwidth();
    height: 320px;
    @media @min-mq-sm {
	height: 480px;
    }
    
}

#surgery-price-info {
    .sm-fullwidth();
    background-color: @ice-blue1;
    @media @min-mq-sm {
	border-radius: @border-radius-large;
    }
    .select-widget-wrapper > a.select-widget-item {
	background-color: @white;
    }
    .select-widget-wrapper {
	padding-top: 37px;
    }
    padding-left: 25px;
    padding-right: 26px;
    padding-bottom: 27px;
    .price-list {
	border-radius: @border-radius-large;
	background-color: @white;
	padding: 20px;
    }
    .price-info-head {
	white-space: nowrap;
	@media @min-mq-md {
	    margin-left: 0;
	    margin-right: 0;
	}
	background-color: @ice-blue1;
	font-weight: bold;
	.average-price, .difference {
	    text-align: right;
	}
	.average-price {
	    position: relative;
	    left: 15px;
	}
	.item-text {
	    position: relative;
	    left: -15px;
	}
    }
    .reference-price {
	font-style: italic;
	text-align: right;
    }
    .price-info-head {
	.breakable-text();
    }
    .price-info-head, .price-info-row {
	padding: 13px 5px 11px 5px;
	@media @min-mq-md {
	    padding: 13px 38px 11px 28px;
	}
    }
    .price-info-row:nth-child(odd) {
	background-color: @very-light-pink;
    }
    a {
	text-decoration: none;
	color: @black;
    }
    .price-info-icon a .fa {
	color: @primary-color;
	padding-left: 10px;
    }

}

