@import "base.less";
@import "colors";

#subsidies-info {
    border-radius: @border-radius-large;
    padding: 17px 20px 21px 26px;
    width: 100%;
    margin-bottom: 27px;
    margin-top: 18px;
    border-radius: @border-radius-large;
    background-color: @pink-bubble;
    p {
	font-style: italic;
	margin-bottom: 0;
	a {
	    text-decoration: none;
	    font-weight: bold;
	    color: @primary-color;
	}
    }
}

#body .modal {
    .modal-content {
	background-color: @ice-blue1;
	border-radius: @border-radius-large;
	color: @black;
    }
    .modal-header {
	padding-bottom: 0;
    }
    .modal-dialog {
	border-radius: @border-radius-large;
    }
    .modal-footer {
	text-align: center;
    }
}

#body {
    .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus  {
	background-color: @ice-blue1;
    }
    button.close {
	opacity: unset;
	filter: unset;
	font-size: 30px;
	padding-left: 20px;
	padding-bottom: 15px;
    }
}

.toast-item.toast-type-progress .toast-item-close {
    display: none;
}
